@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&family=Caveat:wght@400;700&family=Lobster&family=Monoton&family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Playfair+Display+SC:ital,wght@0,400;0,700;1,700&family=Playfair+Display:ital,wght@0,400;0,700;1,700&family=Roboto:ital,wght@0,400;0,700;1,400;1,700&family=Source+Sans+Pro:ital,wght@0,400;0,700;1,700&family=Work+Sans:ital,wght@0,400;0,700;1,700&display=swap');

/* Reset some default styles */
body,
h1,
h2,
p,
ul,
li {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Inter', sans-serif;
}

.menimage {
    height: 20px;
    width: 20px;
    background-size: cover;
    margin-right: 10px;
}

.womenimage {
    height: 20px;
    width: 40px;
    background-size: cover;
    margin-right: 5px;
}

.imagediv {
    display: flex;
    align-items: center;
    justify-content: center;
}

.tabs {
    display: flex;
    justify-content: center;
    margin: 20px 0;
}

.mainHeading {
    text-align: center;
    padding: 20px;
    font-weight: bold;
    font-size: 40px;
}

.discount {
    color: red;
}

.tab {
    background-color: rgb(30, 35, 38);
    color: #fff;
    padding: 10px 20px;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    margin: 0 10px;
    transition: background-color 0.3s ease;
}

.tab:hover {
    background-color: rgb(142, 135, 135);
    color: #ffffff;
}

.productContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.productCard {
    width: 250px;
    margin: 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.productCard img {
    max-width: 100%;
    height: auto;
    border-radius: 5px;
}

.productInfo {
    margin-top: 10px;
}

.productInfo h3 {
    font-size: 16px;
    margin-bottom: 5px;
}

.productInfo p {
    font-size: 14px;
    color: #555;
    margin: 5px 0;
}

.addToCart {
    background-color: #181b19;
    color: #fff;
    padding: 8px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    width: 100%;
}

.compare {
    text-decoration: line-through;
}

.addToCart:hover {
    background-color: rgb(142, 135, 135);
}

/* Responsiveness */
@media screen and (max-width: 767px) {
    .tabs {
        flex-direction: column;
        align-items: center;
    }

    .tab {
        margin-bottom: 10px;
    }

    .productContainer {
        justify-content: center;
    }

    .productCard {
        width: 100%;
    }

    .mainHeading {
        font-size: 18px;
    }
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
    .productCard {
        width: 45%;
    }

    .mainHeading {
        font-size: 25px;
    }
}
